gen
bin
target
.idea
.settings
*.iml
.classpath
.project
out
classes
gen-external-apklibs
local.properties
.DS_Store
.gradle
cker/dongxi/app
build/
./dongxi/src/main/java/com/smilehacker/dongxi/app/Constants.java
